* {
    font-family: sans-serif;
    color: rgb(240, 240, 240);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 150px 0 30px 0;
    background: rgb(22, 22, 22);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100vw;

    text-align: center;
    background: rgb(18, 18, 18);
    padding-top: 5px;
}