.container {
    display: flex;
    flex-direction: column;
}

* {
    font-family: sans-serif;
    color: rgb(209, 209, 209);
    box-sizing: border-box;
}

body {
    background: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh
}

header {
    flex: 0 50px;
    font-size: 20px;
    background: rgb(102, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    flex: 0 30px;
    background: rgb(18, 18, 18);
    padding: 0 0.5em;
}

.login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

input {
    color:black;
}

button {
    color:black;
}